body{background-color:#710A0A}
h1{color:#539009}
.navigation{background-color: aqua;text-align: center;}
.link1 a{text-align: center; padding: 14px 16px; }
.link2 a{text-align: center;}
.navigation a{text-align: center;}
.navigation a {justify-content: center;}
.indexh1{font-family: 'Montserrat', sans-serif;}
.Navcontainer{display:flex;
    background-color: aqua;
    text-align: center; flex-direction: column;}
.copyrightflex{display:flex;background-color: aqua;justify-content:center}